<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>GateCrash!</title>
    </head>
    <body>
        <header>
            <h1>GateCrash!</h1>
        </header>
        
        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&copy; 2026 GNU AGPL.</p>
        </footer>
    </body>
</html>